<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        <%=locals.title%>
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="Todo-container">
        <div class="Todo">
            <form action="/createList" method="post">
                <h1 class="heading border-bottom pb-3">TO DO app</h1>
                <div class="description border-bottom pb-3">
                    <h5>description</h5>
                    <input type="text" name="descript" placeholder="What do you need to do?">
                </div>
                <div class="dateCate border-bottom pb-3">
                    <div class="category">
                        <h5>category</h5>
                        <!-- <label for="">Choose a category</label> -->
                        <select name="category" id="">
                            <option value="">Choose a category</option>
                            <% for(let i=0; i < cateType.length; i++){ %>
                                <option value=<%=cateType[i].category%>>
                                    <%= cateType[i].category%>
                                </option>
                                <%}%>
                        </select>
                    </div>
                    <div class="date">
                        <h5>Date</h5>
                        <input name="setDate" type="text" id="datepicker">
                    </div>
                </div>
                <div class="tasks border-bottom pb-3 mt-3">
                    <button type="submit">
                        <i class="fa-solid fa-square-plus"></i>
                        ADD TASK
                    </button>
                    <button>
                        <a href="/delete-contact">
                            <i class="fa-solid fa-trash-can"></i>
                        DELETE TASK
                        </a>
                        
                    </button>
                </div>
            </form>
            <%for(let i=0; i < tasksList.length; i++){%>
                <input type="checkbox" name="checkbox" id="<%=i%>">
                <div class="task-container">
                    <div class="task-details">
                        <p class="taskDesc">
                            <%= tasksList[i].descript %>
                        </p>
                        <p class="taskDate">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15" height="15">
                                <g id="_01_align_center" data-name="01 align center">
                                    <path
                                        d="M21,2H18V0H16V2H8V0H6V2H3A3,3,0,0,0,0,5V24H24V5A3,3,0,0,0,21,2ZM2,5A1,1,0,0,1,3,4H21a1,1,0,0,1,1,1V8H2ZM2,22V10H22V22Z" />
                                    <rect x="15" y="13" width="2" height="2" />
                                    <rect x="11" y="13" width="2" height="2" />
                                    <rect x="7" y="13" width="2" height="2" />
                                    <rect x="15" y="17" width="2" height="2" />
                                    <rect x="11" y="17" width="2" height="2" />
                                    <rect x="7" y="17" width="2" height="2" />
                                </g>
                            </svg>
                            <%= tasksList[i].setDate %>

                        </p>
                    </div>
                    <div class="taskCategory">
                        <%= tasksList[i].category%>
                    </div>
                </div>
                <%}%>
        </div>


    </div>


    <script src="/js/start.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


</body>

</html>